<!-- Example row of columns -->
<div class="row-fluid">
  <div class="span6">
    <h2>Even</h2>
    <div class="progress progress-info progress-striped">
      <div class="bar" style="width: 30%;"></div>
    </div>
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Nama Kejuaraan</th>
          <th>Tanggal</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Turnamen Bulutangkis Eksekutif FAJAR - PBSI</td>
          <td>5 -6 Oktober 2013</td>          
        </tr>
        <tr>
          <td>2</td>
          <td>Turnamen SIDU OPEN 2013</td>
          <td>18 - 22 Oktober 2013</td>          
        </tr>
        <tr>
          <td>3</td>
          <td>Kejurda Bulutangkis 2013</td>
          <td>6 - 9 November 2013 </td>          
        </tr>
        <tr>
          <td>4</td>
          <td>PRA-PORDA 2013</td>
          <td>11 - 14 Desember 2013</td>          
        </tr>
      </tbody>
    </table>
    <p><a class="btn btn-primary" href="#">Selengkapnya &raquo;</a></p>
  </div>
  <div class="span6">
  <p>&nbsp;</p>
    <div class="logo2">
      <%= image_tag("logo-telkom-2.jpg") %>
      <%= image_tag("logo-semen-tonasa.png") %>
      <%= image_tag("logo-kadin-sulsel.jpg") %>
      <%= image_tag("logo-bank-sulselbar.jpg") %>
    </div>
    <%= image_tag("Preview-Flyer-SIDUCUP-2013-MAKASSAR.jpg") %>
  </div>
</div>        

<script>
  !function ($) {
    $(function(){
      // carousel demo
      $('#myProfil').carousel({
        interval: 2000
      })
    })
  }(window.jQuery)
</script>