<%= link_to "Beranda", root_path, :class => 'brand' %>
<ul class="nav">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Organisasi <span class="caret"></span></a>
    <ul class="dropdown-menu" aria-labelledby="themes">
      <li><%= link_to 'Sejarah', '#' %></li>
      <li><%= link_to 'Struktur', '#' %></li>
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Event <span class="caret"></span></a>
    <ul class="dropdown-menu" aria-labelledby="themes">
      <li><%= link_to 'Kalender Event', '#' %></li>      
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Ranking Pemain <span class="caret"></span></a>
    <ul class="dropdown-menu" aria-labelledby="themes">
      <li><%= link_to 'Usia Dini', '#' %></li>
      <li><%= link_to 'Pemula', '#' %></li>
      <li><%= link_to 'Remaja', '#' %></li>
      <li><%= link_to 'Taruna', '#' %></li>
      <li><%= link_to 'Dewasa', '#' %></li>
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Galeri <span class="caret"></span></a>
    <ul class="dropdown-menu" aria-labelledby="themes">
      <li><%= link_to 'Foto', '#' %></li>
      <li><%= link_to 'Video', '#' %></li>
    </ul>
  </li>
  <li><%= link_to 'Link', '#' %></li>
  <li><%= link_to 'Kontak', '#' %></li>
</ul>
