<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "App Pbsi" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "PBSI Sulsel" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
  <div id="bodyback"><%= image_tag("back_02.png") %></div>
    <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-inverse">
          <nav class="navbar-inner">        
            <%= render 'layouts/navigation' %>        
          </nav>
        </div>
    <%= render 'layouts/carousel' %> 
      
    <%= render 'layouts/berita1' %>
    <%= render 'layouts/berita2' %>
    <div id="main" role="main">
      <div class="container">

        <div class="content">
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer>
          <div class="container">
            <p class="muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>
          </div>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
    </div> <!--! end of .container -->
    </div> <!--! end of .navbar-wrapper -->
  </body>
</html>

<script>
  $(window).load(function() {    

  var theWindow        = $(window),
      $bg              = $("#bodyback"),
      aspectRatio      = $bg.width() / $bg.height();
                    
  function resizeBg() {
    
    if ( (theWindow.width() / theWindow.height()) > aspectRatio ) {
        $bg
          .removeClass()
          .addClass('bgwidth');
    } else {
        $bg
          .removeClass()
          .addClass('bgwidth');
    }          
  }
                          
  theWindow.resize(function() {
        resizeBg();
      }).trigger("resize");

});
</script>